<ion-view title="Power" id="page2">
	<ion-content class="has-header">
		<div class="gauge-power gauge-power"></div>
		<div style="text-align:center; margin-top: -10vw">
			<div class="gauge-temp gauge-temp"></div>
			<div class="gauge-battery gauge-battery"></div>
		</div> 
		<script>
			$('.gauge-power').gauge({
				values: {
					0 : '0%',
					20: '20%',
					40: '40%',
					60: '60%',
					80: '80%',
					100: '100%'
				},
				colors: {
					0 : '#378618',
					60: '#ffa500',
					90: '#f00'
				},
				angles: [
				180,
				360
				],
				lineWidth: 10,
				arrowWidth: 10,
				arrowColor: '#aaa',
				inset:true,
				value: 30
			});
			$('.gauge-temp').gauge({
				values: {
					0 : 'Safe',
					100: 'H'
				},
				colors: {
					0 : '#666',
					80: '#f00'
				},
				angles: [
				90,
				180
				],
				lineWidth: 15,
				arrowWidth: 10,
				arrowColor: '#aaa',
				inset:true,
				value: 50
			});
			$('.gauge-battery').gauge({
				values: {
					0 : 'Full',
					100: 'Low'
				},
				colors: {
					0 : '#666',
					80: '#f00'
				},
				angles: [
				0,
				90
				],
				lineWidth: 15,
				arrowWidth: 10,
				arrowColor: '#aaa',
				inset:true,
				value: 50
			});
		</script>
	</ion-content>
</ion-view>